/*
Mrs Eaves OT Bold Italic
font-family: mrs-eaves, serif;
font-weight: 700;
font-style: italic;

Mrs Eaves OT Roman
font-family: mrs-eaves, serif;
font-weight: 400;
font-style: normal;

Mrs Eaves OT Bold
font-family: mrs-eaves, serif;
font-weight: 700;
font-style: normal;

Mrs Eaves OT Italic
font-family: mrs-eaves, serif;
font-weight: 400;
font-style: italic;

Mrs Eaves Roman Lining
font-family: mrs-eaves-roman-lining, sans-serif;
font-weight: 400;
font-style: normal;

Mrs Eaves Roman Small Caps
font-family: mrs-eaves-roman-small-caps, sans-serif;
font-weight: 400;
font-style: normal;

Mrs Eaves Roman All Small Caps
font-family: mrs-eaves-roman-all-small-ca, sans-serif;
font-weight: 400;
font-style: normal;

Mrs Eaves Roman All Petite Caps
font-family: mrs-eaves-roman-all-petite-c, sans-serif;
font-weight: 400;
font-style: normal;

Mrs Eaves Roman Petite Caps
font-family: mrs-eaves-roman-petite-caps, sans-serif;
font-weight: 400;
font-style: normal;

Futura PT Heavy
font-family: futura-pt, sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Heavy Oblique
font-family: futura-pt, sans-serif;
font-weight: 700;
font-style: italic;

Futura PT Book
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;

Futura PT Book Oblique
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: italic;

Futura PT Bold
font-family: futura-pt-bold, sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Bold Oblique
font-family: futura-pt-bold, sans-serif;
font-weight: 700;
font-style: italic;

Futura PT Cond Book
font-family: futura-pt-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Futura PT Cond Book Oblique
font-family: futura-pt-condensed, sans-serif;
font-weight: 400;
font-style: italic;

Futura PT Cond Bold
font-family: futura-pt-condensed, sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Cond Bold Oblique
font-family: futura-pt-condensed, sans-serif;
font-weight: 700;
font-style: italic;
*/


body {
	font-family: futura-pt, sans-serif;
	font-weight: 400;
    font-style: normal;
	background-color: #888888;
    color: #fff;
    display: block;
    font-variant-ligatures: none;  
}
* {
	margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
#wrapper {
    width:100vw;
    margin:0;
}
#navBar {
    height:7vw;
    background-color:#000;
    margin:0 auto;
    display:block;
}
#navBar a {
    color:#cfcfcf;
	text-decoration: none;
}
#navBar img.logoLink {
    width:25%;
    margin:2vw 3%;
}
#hamburger {
    float: right;
    width:2.5vw;
    margin-top: 2.4vw;

    margin-right: 3%;

}
#menu2 {
    display:none;
}
#dropdown {
    background-color: #000;
    color:#cfcfcf;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    width: 27%;
    float: right;
    right: 0px;
    margin-top:-1vw;
    position: absolute;
    display:none;
    z-index: 99999;
}
#ddList {
    list-style-type: none;
}
.ddItem {
    margin:1.5vw 11%;
}
.ddItem:hover {
    color:#655674;
}
#DDList {
    list-style-type: none;
}
.DDItem {
    margin:1.5vw 11%;
    list-style-type: none;
}
.DDItem:hover {
    color:#655674;
}


#welcomeModal {
    width:40%;
    background-color:#000;
    position: absolute;
    z-index:1;
    margin-top: 12vw;
    margin-left: 30%;
    margin-right: 30%;
    display:none;
}
#closeWelcomeModal {
    width:2vw;
    height:2vw;
    padding-right:1vw;
    padding-top:1vw;
    float:right;
}
#welcomeContainer {
    margin-top:2vw;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 2vw;
    text-align: center;
    color:#888888;
    margin-bottom: 1vw;
}
.welcomeLogo {
    width:80%;
}

#contactButtonModal {
    display: inline;
    color: #a694b9;
}
#contactButtonModal:hover {
    color: #655674;
}

#pageContent {
    width:100%;
    color:#cdcdcd;;
    padding-left:3%;
    padding-right:3%;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

#picFrame_plain {
    width:72%;
    margin-left: 14%;
    margin-right: 14%;
    display:block;
}

#info_button {
    width:13vw;
    height: 4vw;
    background-color:#aeaeae;
    color: #787979;
    font-size: 1.75vw;
    margin-bottom: 7vw;
    padding:.75vw 1.5vw;
    float:left;
    display:block;
}
#git_button {
    width:4vw;
    float:right;
    display: inline;
}
#infoClose {
    width: 1vw;
    float:right;
    margin-top: .75vw;
    display:none;
}
#info_modal_godZ {
    background-color:#aeaeae;
    position: absolute;
    z-index:9999;
    margin-top: 4vw;
    display:none;
}
#infoContainer_godZ {
    margin-top:2vw;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 1.5vw;
    text-align: left;
    color:#787979;
    margin-bottom: 1vw;
}
.holder img {
    width:100%;
}

#clockHolder {
    width:72%;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 6vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
}
#hourColor {
    width:30vw;
    height:30vw;
    background-color:#000;
    display:block;
    margin-top: 2vw;
    margin-left: 19vw;
    margin-right: 19vw;
    border-radius: 50%;
    padding: 2vw;
}
#minuteColor {
    width:26vw;
    height:26vw;
    background-color:#0d0d0d;
    display:block;
    border-radius: 50%;
    padding:2vw;
}
#secondColor {
    width:22vw;
    height:22vw;
    background-color:#fff;
    display:block;
    border-radius: 50%;
    padding:2vw;
}

#clock {
    width:18vw;
    height:18vw;
    color:#fff;
    background-color:#000;
    float:left;
    overflow:auto;
    text-align: right;
    display:inline;
    border-radius: 50%;
    padding-top: 5vw;
    padding-left: 12%;

}
#hours {
    height:8vw;
    color:#fff;
    background-color:#000;
    float:left;
    overflow:auto;
    font-size:3vw;
    text-align: right;
    display:inline-block;
    margin-top:2vw;
}
#colon1 {

    height:7vw;
    color:#fff;
    background-color:#000;
    float:left;
    overflow:auto;
    font-size:3vw;
    text-align: center;
    display:inline-block;
    margin-top:1.5vw;
    margin-left:1%;
}
#minutes {
    height:8vw;
    color:#fff;
    background-color:#000;
    float:left;
    overflow:auto;
    font-size:3vw;
    text-align: right;
    display:inline-block;
    margin-top:2vw;
    margin-left:1%;
}
#colon2 {
    height:7vw;
    color:#fff;
    background-color:#000;
    float:left;
    overflow:auto;
    font-size:3vw;
    text-align: center;
    display:inline-block;
    margin-top:1.5vw;
    margin-left:1%;
}
#seconds {
    height:8vw;
    color:#fff;
    background-color:#000;
    float:left;
    overflow:auto;
    font-size:3vw;
    text-align: right;
    display:inline-block;
    margin-top:2vw;
    margin-left:1%;
}
#AMorPM {
    height:7vw;
    color:#fff;
    background-color:#000;
    float:left;
    overflow:auto;
    font-size:1.5vw;
    text-align: right;
    display:inline-block;
    margin-top: 2.5vw;
    margin-left:2%;
}

#calcBox {
    margin:0px;
    padding:0px;
    width:72%;
    margin-top: 10vw;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 10vw;
    text-align: center;
}

#calculator {
    position: relative;
    z-index: 55;
    display: block;
    width: 40vw;
    filter: drop-shadow(-.5vw .5vw 1vw #152D18);
    margin-left: 13vw;
    margin-right: 13vw;

}
#calcScreen1 {
    width:32vw;
    height:7.5vw;
    background-color: #808184;
    color:#66f539;
    border-radius: .5vw;
    position: relative;
    z-index: 66;
    display: block;
    margin-top: -50.5vw;
    margin-left: 16.8vw;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 3vw;
    border: 0px solid #808184;
}
#calcScreen2 {
    width:32vw;
    height:7.5vw;
    background-color: #808184;
    color:#66f539;
    border-radius: .5vw;
    position: relative;
    z-index: 66;
    display: block;
    margin-top: 3.2vw;
    margin-left: 16.8vw;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 3vw;
    border: 0px solid #808184;
}
#calcScreen3 {
    width:32vw;
    height:7.5vw;
    background-color: #808184;
    color:#66f539;
    border-radius: .5vw;
    position: relative;
    z-index: 66;
    display: block;
    margin-top: 11.35vw;
    margin-left: 16.8vw;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 3vw;
    border: 0px solid #808184;
    font-weight: 400;
}
.buttonGrid {
    margin-top:3.5vw;
    margin-left: 20vw;
    margin-right: 20vw;
    width: 26vw;
    text-align: center;
    position: relative;
    z-index: 85;
    overflow: hidden;

}
.spacer {
    margin-right: 1.3vw;
}
.button {
    position: relative;
    z-index: 80;
    float: left;
    width: 5.5vw;
    height: 5.5vw;
    border-radius:50%;
}



#add .after, 
#subtract .after, 
#multiply .after, 
#divide .after,
#equals .after {
    display:none;
}
#add:hover  .before,
#subtract:hover  .before,
#multiply:hover  .before,
#divide:hover  .before,
#equals:hover  .before {
    display:none;

}
#add:hover .after,
#subtract:hover .after,
#multiply:hover .after,
#divide:hover .after,
#equals:hover .after{
    display:block;
}

#equals {
    margin-top:2.15vw;
    margin-left:30.25vw;
    margin-right:30.25vw;
    text-align: center;
    position: relative;
    z-index: 85;
    border: 0px solid #808184;
}


#intro {
    font-size:3.5vw;
    font-family:  mrs-eaves, serif;
    font-weight: 700;
    font-style: bold;
    padding-left:9%;
}
span.adj {
    font-size:2.5vw;
    font-family:  mrs-eaves, serif;
    font-weight: 400;
    font-style: italic;
    color: #595959;
}
.introExp {
    font-size:2.5vw;
    font-family:  mrs-eaves, serif;
    font-weight: 400;
    font-style: normal;
    padding-left:2%;
}
#slider {
    width:90%;
    height:9vw;
    margin-top:1vw;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:1vw;
}
.slideLeft1 {
    height: 2vw;
    margin:4vw 5%;
    float:left;
    display:block;
}
.num1{
    font-size:4vw;
    margin:2vw 24%;
    float:left;
    text-align: center;
    color:#4F3E60;
    display:block;
}
.num2{
    font-size:4vw;
    margin:2vw 27%;
    float:left;
    text-align: center;
    color:#4F3E60;
    display:none;
}
.num3{
    font-size:4vw;
    margin:2vw 12%;
    float:left;
    text-align: center;
    color:#4F3E60;
    display:none;
}
#aboutHeader{
    width:90%;
    height:9vw;
    font-size:4vw;
    margin:2vw 28%;
    float:left;
    text-align: center;
    color:#4F3E60;
    display:block;
}
#GDHeader{
    width:90%;
    height:9vw;
    font-size:4vw;
    margin:2vw 5%;
    float:left;
    text-align: center;
    color:#4F3E60;
    display:block;
}
#WDHeader{
    width:72%;
    height:9vw;
    font-size:4vw;
    margin:2vw 14%;
    float:left;
    text-align: center;
    color:#4F3E60;
    display:block;
}
#FeWDHeader{
    width:90%;
    height:9vw;
    font-size:4vw;
    margin:2vw 5%;
    float:left;
    text-align: center;
    color:#4F3E60;
    display:block;
}
.slideRight {
    height: 2vw;
    float:right;
    margin:4vw 5%;
}
.subheadSwop a {
    text-decoration: none;
    color:#4F3E60;
}
.subheadSwop a:hover {
    text-decoration: none;
    color:#fff;
}

#slideLeft_FEmobile {
    display: none;
}
.slideLeft_M {
    height: 2vw;
    margin:4vw 5%;
    float:left;
    display:none;
}

#WD_picBox {
    width:100%;
    margin-bottom:1vw;
    display:block;
}

.H_Site{
    font-size:4vw;
    text-align: center;
    display:block;
}
.hershey {
    margin-bottom:5vw;
}
.hersheyHead {
    clear: both;
    float:left;
    font-size:4vw;
    font-family: mrs-eaves, serif;
    font-weight: 700;
    font-style: italic;
    color:#726a79;
    margin-bottom: 1vw;
}
#picFrame_4double {
    width:72%;
    margin-left: 14%;
    margin-right: 14%;
}
#AI_picBox {
    padding:0;
    width:100%;
    margin-bottom:1vw;
}
.AIHead {
    clear: both;
    font-size:4vw;
    font-family: mrs-eaves, serif;
    font-weight: 700;
    font-style: italic;
    color:#726a79;
    margin-bottom: 1vw;

}
.desktopV {
    margin-bottom:5vw;
}
.desktopV img {
    width: 100%;
}
.cellSize {
    display:flex;
    margin-bottom:5vw;
    align-items: flex-start;
    
}
.cellSize img {
    width: 30%;
}
.mobile_site {
    margin:0 auto;
}
.cellSize_SOO {
    display:block;
    margin-bottom:5vw;
    
}
.cellSize_SOO img {
    width: 30%;
}
.mobile_site_SOO {
    margin:0 auto;
}
.AIHead_M {
    clear: both;
    font-size:4vw;
    font-family: mrs-eaves, serif;
    font-weight: 700;
    font-style: italic;
    color:#726a79;
    margin-bottom: 1vw;
    margin-left:1.4vw;

}


#GDthumbnailGrid {
    width:89%;
    clear:both;
    margin-top:6vw;
    margin-left: 14%;
    margin-right: 14%;
    display:block;
}
#GD_Grid {
    width:89%;
    clear:both;
    margin-top:6vw;
    margin-left: 14%;
    margin-right: 14%;
    display:block;
}
.GDpicGrid {
    width:15vw;
    height:15vw;
    background-color:#fff;
    float:left;
    margin-right: 10vw;
    margin-bottom: 8vw;
}
#WDthumbnailGrid {
    width:89%;
    clear:both;
    margin-top:6vw;
    margin-left: 14%;
    margin-right: 14%;
    display:none;
}
#WD_Grid {
    width:89%;
    clear:both;
    margin-top:6vw;
    margin-left: 14%;
    margin-right: 14%;
    display:block;
}
.WDpicGrid {
    width:15vw;
    height:15vw;
    background-color:#fff;
    float:left;
    margin-right: 10vw;
    margin-bottom: 8vw;
}
#FeWDthumbnailGrid {
    width:89%;
    clear:both;
    margin-top:6vw;
    margin-left: 14%;
    margin-right: 14%;
    display:none;
}
#FeWD_Grid {
    width:89%;
    clear:both;
    margin-top:6vw;
    margin-left: 14%;
    margin-right: 14%;
    display:block;
}
.FeWDpicGrid {
    width:15vw;
    height:15vw;
    background-color:#fff;
    float:left;
    margin-right: 10vw;
    margin-bottom: 8vw;
}

#MVPcalcThumb, #clockThumb, #gWebThumb, #stayHomeThumb, #saveOceanLogoThumb, #HersheyThumb, #aiThumb, #godZThumb, #kiddiecalcThumb, #phippsThumb, #floccoThumb {
    width:15vw;
    height:15vw;
    object-fit: cover;
    overflow:hidden;
    opacity: 1;
}

#MVPcalcThumb:hover, #clockThumb:hover, #gWebThumb:hover, #stayHomeThumb:hover, #saveOceanLogoThumb:hover, #HersheyThumb:hover, #aiThumb:hover, #godZThumb:hover, #kiddiecalcThumb:hover, #phippsThumb:hover, #floccoThumb:hover {
    opacity: .7;
}

.Next {
    clear:both;
}
#ThumbnailGrid {
    width:89%;
    clear:both;
    margin-top:6vw;
    margin-left: 14%;
    margin-right: 14%;
    display:block;
}
.Grid {
    width:15vw;
    height:15vw;
    background-color:#fff;
    float:left;
    margin-right: 10vw;
    margin-bottom: 8vw;
}
#aboutHeader{
    width:75%;
    height:9vw;
    font-size:4vw;
    margin:2vw 12.5%;
    text-align: center;
    color:#4F3E60;
    display:block;
}

#aboutMeGrid {
    width:65%;
    margin-top:6vw;
    margin-left: 17%;
    margin-right: 17%;
    font-size: 2.5vw;
    display:block;
}

.aboutHead {
    font-size: 5vw;
    font-family: mrs-eaves, serif;
    font-weight: 700;
    font-style: italic;
    color:#726a79;
    margin-bottom: -4.5vw;
}
.stackIcons {
    width:6vw;
    margin-right: 1vw;
    margin-top: 1vw;
    display: inline-block;
}

.stackIcons img {
    width:100%;
}
.H {
    width:5vw;
    margin-right: 1vw;
    margin-top: 1vw;
    display: inline-block;
}
.jq {
    width:13vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    display: inline-block;
}
.php {
    width:8vw;
    padding-bottom: 1vw;
    display: inline-block;
}
.linkIcons {
    width:5vw;
    margin-right: 1vw;
    margin-top: 1vw;
    display: inline-block;
}

.linkIcons img {
    width:100%;
}
.LI {
    width:4vw;
    margin-left: 1vw;
    margin-right: 2vw;
    margin-top: 1vw;
    display: inline-block;
}
.GH {
    width:5vw;
    margin-right: 1vw;
    margin-top: 1vw;
    display: inline-block;
}
#grid_row4_3 {
    display:none;
}

#aboutMeGrid_M {
    display:none;
}

#closeModalbutton {
    width:2vw;
    height:2vw;
    padding-right:1vw;
    padding-top:1vw;
    float:right;
}

#contactModal {
    width:30vw;
    background-color:#cdcdcd;
    color:#000;
    position: absolute;
    z-index:9999999999999999999;
    margin-top: 5vw;
    margin-left: 35vw;
    margin-right: 10vw;
    display:none;
}
#contactContainer {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 2vw;
    text-align: center;
    color:#888888;
    margin-bottom: 1vw;
}
#emailBox {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 3vw;
    font-size: 1.5vw;
    text-align: center;
    color:#888888;
    padding-bottom: 1vw;
}
#emailBox a:link {
    text-decoration: none;
    color:#888888;
}
#emailBox a:hover {
    color:#fff;
}

#aboutEmail {
    font-size: 2.5vw;
    text-align: left;
    color:#cdcdcd;
}

#aboutEmail a:link {
    text-decoration: none;
    color:#cdcdcd;
}
#aboutEmail a:hover {
    color:#fff;
}

.bottle {
    clear:both;
    margin-left: 35%;
    margin-right: 35%;
}

.bottle img {
    width:100%;
}
#picFrame_plain_M {
    display: none;
}


#footer {
    clear:both;
    width:100%;
    background-color:#000;
    color: #cdcdcd;
    bottom:0px;
}
#linkFooterContainer {
    margin: 2vw 45%;
    padding-top: 2vw;
    padding-bottom: 2vw;
}


.footerIcons img {
    width:100%;
}
.LI_footer {
    width:2vw;
    margin:2.5vw 1vw;
    float:left;
}
.GH_footer {
    width:3vw;
    margin:2vw 1vw;
    float:right;
}
#footer_words {
    clear:both;
    margin: 0vw 10vw;
    text-align: center;
    padding-bottom: 3vw;
    color:#888;
}


/*//////////// media query /////////////*/




@media only screen and (max-width: 400px) {
    
        #wrapper {
            width:100%;
            margin:0;
    }
    
        #index_mobile {
            background-color: #a5a5a5;
    }
        #navBar {
            height:20vw;
            margin:0 auto;

    }
        #navBar img.logoLink {
            width:65%;
            margin:5.6vw 6%;
    }
        #hamburger {
            width:7%;
            margin-top: 6.5vw;
            margin-right: 6%;

    }
        #dropdown {
            font-size: 7.5vw;
            width: 100%;
            margin-top:-1.5vw;
    }
    
        .ddItem {
            margin:9.5vw 11%;
    }

        .DDItem {
            margin:9.5vw 11%;
    }
    
        #welcomeModal {
            width:80%;
            margin-top: 29vw;
            margin-left: 10%;
            margin-right: 10%;
    }
        #closeWelcomeModal {
            width:10%;
            height:8vw;
            padding-right:4vw;
            padding-top:4vw;
    
    }
        #welcomeContainer {
            margin-top:3vw;
            margin-left: 3vw;
            margin-right: 3vw;
            font-size: 5vw;
            margin-bottom:2vw;
    }
        .welcomeLogo {
            width:80%;
    }
        #closeModalbutton {
            width:9%;
            height:8vw;
            padding-right:4vw;
            padding-top:4vw;
    }

        #contactModal {
            width:80%;
            margin-top: 29vw;
            margin-left: 10%;
            margin-right: 10%;
    }
        #contactContainer {
            font-size: 6vw;
            margin-top: 2vw;
            margin-left: 10%;
            margin-right: 10v%;
            margin-bottom: 2vw;
    }
        #emailBox {
            margin-left: 1vw;
            margin-right: 1vw;
            margin-bottom: 3vw;
            font-size: 5vw;
            padding-bottom: 2vw;
    }
        #pageContent {
            width:100%;
            padding-left:3%;
            padding-right:3%;
            padding-top: 6vw;
            padding-bottom: 6vw;
            
    }
        #intro {
            font-size:7.5vw;
            padding-left:5%;
            color:#ddd;
    }
        span.adj {
            font-size:6.5vw;
    }
        .introExp {
            font-size:6.5vw;
            padding-left:3%;
    }
    
    
        #slider {
            width:90%;
            height:18vw;
            margin-top:6vw;
            margin-left:5%;
            margin-right:5%;
            margin-bottom:1vw;
            text-align: left;
    }
        .slideLeft1 {
            height: 6vw;
            margin-top:6vw;
            margin-left:0%;
            margin-right:0%;
            margin-bottom:6vw;
            display: none;
    }
        .slideLeft_FEmobile {
            height: 6vw;
            margin-top:6vw;
            margin-left:0%;
            margin-right:0%;
            margin-bottom:6vw;
    }
        .num1{
            font-size:8vw;
            margin-top:2vw;
            margin-left:0%;
            margin-right:0%;
            margin-bottom:2vw;
            text-align: left;
    }
        .num2{
            font-size:8vw;
            margin-top:2vw;
            margin-left:0%;
            margin-right:0%;
            margin-bottom:2vw;
            text-align: left;
    }
        .num3{
            font-size:6.75vw;
            margin-top:2vw;
            margin-left:0%;
            margin-right:0%;
            margin-bottom:2vw;
            line-height: 9vw;
            text-align: left;
    }
        .slideRight {
            height: 6vw;
            margin-top:4vw;
            margin-left:0%;
            margin-right:0%;
            margin-bottom:4vw;
    }
    
        #slideRight_FEmobile {
            height: 6vw;
            margin-top:4vw;
            margin-left:0%;
            margin-right:0%;
            margin-bottom:4vw;
            float: right;
    }

    
    /* work page adjustments */
        #ThumbnailGrid {
            width:89%;
            clear:both;
            margin-top:13vw;
            margin-left: 22.5%;
            margin-right: 22.5%;
            display:block;
    }
    
        .Grid {
            width:60%;
            height:50vw;
            margin-bottom: 15vw;
    }
        #MVPcalcThumb, #clockThumb, #gWebThumb, #stayHomeThumb, #saveOceanLogoThumb, #HersheyThumb, #aiThumb, #godZThumb, #kiddiecalcThumb, #phippsThumb, #floccoThumb {
            width:100%;
            height:50vw;
    }
    
    
    /* graphic design page adjustments */
    
        #GDthumbnailGrid, #GD_Grid, #WDthumbnailGrid, #WD_Grid, #FeWDthumbnailGrid, #FeWD_Grid {
            width:89%;
            margin-top:8vw;
            margin-left: 22.5%;
            margin-right: 22.5%;
    }
        .GDpicGrid, .WDpicGrid, .FeWDpicGrid  {
            width:60%;
            height:50vw;
            margin-bottom: 15vw;
    }
        #GDHeader {
            font-size:9vw;
            margin-bottom: 11vw;
    }
        #WDHeader{
            font-size:9vw;
            margin-bottom: 11vw;
    }
        #FeWDHeader{
            font-size:9vw;
            line-height: 10vw;
            margin-bottom: 16vw;
    }
    
    /* about me page adjustments */

        #aboutMeGrid {
            width:65%;
            margin-top:6vw;
            margin-left: 17%;
            margin-right: 17%;
            font-size: 2.5vw;
            display:none;
    }

        .aboutHead {
            font-size: 5vw;
            font-family: mrs-eaves, serif;
            font-weight: 700;
            font-style: italic;
            color:#726a79;
            margin-bottom: -4.5vw;
    }
        .stackIcons {
            width:6vw;
            margin-right: 1vw;
            margin-top: 1vw;
            display: inline-block;
    }

        .stackIcons img {
            width:100%;
    }
        .H {
            width:5vw;
            margin-right: 1vw;
            margin-top: 1vw;
            display: inline-block;
    }
        .jq {
            width:13vw;
            margin-right: 1vw;
            margin-bottom: 1vw;
            display: inline-block;
    }
        .php {
            width:8vw;
            padding-bottom: 1vw;
            display: inline-block;
    }
        .linkIcons {
            width:5vw;
            margin-right: 1vw;
            margin-top: 1vw;
            display: inline-block;
    }

        .linkIcons img {
            width:100%;
    }
        .LI {
            width:4vw;
            margin-left: 1vw;
            margin-right: 2vw;
            margin-top: 1vw;
            display: inline-block;
    }
        .GH {
            width:5vw;
            margin-right: 1vw;
            margin-top: 1vw;
            display: inline-block;
    }
    
    
    /* about me mobile version */
    
    
        #aboutHeader {
            font-size:9vw;
            margin-bottom: 11vw;
    }

        #aboutMeGrid_M {
            width:80%;
            margin-top:6vw;
            margin-left: 10%;
            margin-right: 10%;
            font-size: 5vw;
            display: block;
    }

        .aboutHead_M {
            font-size: 9vw;
            font-family: mrs-eaves, serif;
            font-weight: 700;
            font-style: italic;
            color:#726a79;
            margin-bottom: -8.5vw;
    }
        .stackIcons_M {
            width:12vw;
            margin-right: 2vw;
            margin-top: 2vw;
            display: inline-block;
    }
        .stackIcons_M img {
            width:100%;
    }
        .H_M {
            width:10vw;
            margin-right: 2vw;
            margin-top: 2vw;
            display: inline-block;
    }
        .jq_M {
            width:26vw;
            margin-right: 2vw;
            margin-bottom: 2vw;
            display: inline-block;
    }
        .php_M {
            width:16vw;
            padding-bottom: 2vw;
            display: inline-block;
    }
        .linkIcons_M {
            width:10vw;
            margin-right: 2vw;
            margin-top: 2vw;
            display: inline-block;
    }
    
        .linkIcons_M img {
            width:100%;
    }
        .LI_M {
            width:8vw;
            margin-left: 2vw;
            margin-right: 4vw;
            margin-top: 2vw;
            display: inline-block;
    }
        .GH_M {
            width:10vw;
            margin-right: 2vw;
            margin-top: 2vw;
            display: inline-block;
    }
        #aboutEmail_M {
            font-size: 5vw;
    }
        #aboutEmail_M a:link {
            text-decoration: none;
            color:#cdcdcd;
    }
    
    
    /* graphics only page adjustments */
    
        #picFrame_plain {
            width:80%;
            margin-left: 10%;
            margin-right: 10%;
    }

        #info_button {
            width:45%;
            height: 9vw;
            background-color:#aeaeae;
            color: #787979;
            font-size: 4.5vw;
            margin-bottom: 8vw;
            padding:1.5vw 3vw;
    }
        #git_button {
            width:9vw;
    }
        #infoClose {
            width: 3vw;
            margin-top: 1.75vw;
    }
        #info_modal_godZ {
            margin-top: 9vw;
    }
        #infoContainer_godZ {
            margin-top:4vw;
            margin-left: 5vw;
            margin-right: 5vw;
            font-size: 5vw;
            margin-bottom: 2vw;
            width:65vw;
    }
        .holder img {
            width:100%;
    }
        .bottle {
            clear:both;
            margin-left: 15%;
            margin-right: 15%;
    }
    
     /* clock page adjustments */
    
        #clockHolder {
            width:80%;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 17vw;
            padding-top: 3vw;
            padding-bottom:6vw;
    }
        #hourColor {
            width:60vw;
            height:60vw;
            margin-top: 4vw;
            margin-left: 10%;
            margin-right: 10%;
            border-radius: 50%;
            padding: 4vw;
    }
        #minuteColor {
            width:52vw;
            height:52vw;
            padding:4vw;
    }
        #secondColor {
            width:44vw;
            height:44vw;
            padding:4vw;
    }

        #clock {
            width:36vw;
            height:36vw;
            display:inline;
            padding-top: 10vw;
            padding-left: 12%;

    }
        #hours {
            height:16vw;
            color:#fff;
            background-color:#000;
            float:left;
            overflow:auto;
            font-size:6vw;
            text-align: right;
            display:inline-block;
            margin-top:4vw;
    }
        #colon1 {

            height:14vw;
            color:#fff;
            background-color:#000;
            float:left;
            overflow:auto;
            font-size:6vw;
            text-align: center;
            display:inline-block;
            margin-top:3vw;
            margin-left:2%;
    }
        #minutes {
            height:16vw;
            font-size:6vw;
            display:inline-block;
            margin-top:4vw;
            margin-left:2%;
    }
        #colon2 {
            height:14vw;
            font-size:6vw;
            display:inline-block;
            margin-top:3vw;
            margin-left:2%;
    }
        #seconds {
            height:16vw;
            font-size:6vw;
            display:inline-block;
            margin-top:4vw;
            margin-left:2%;
    }
        #AMorPM {
            height:14vw;
            font-size:3vw;
            display:inline-block;
            margin-top: 5vw;
            margin-left:4%;
    }
    
   /* calculator page adjustments */ 
    
        #calcBox {
            margin:0px;
            padding:0px;
            margin-top: 10vw;
            margin-bottom: 10vw;
    }

        #calculator {
            width: 100%;
            filter: drop-shadow(-1% 1% 2% #152D18);

    }
        #calcScreen1 {
            width:80%;
            height:13.15vw;
            border-radius: .8vw;
            margin-top: -85.5vw;
            margin-left: 19.3vw;
            padding-top: 2vw;
            padding-bottom: 2vw;
            font-size: 7vw;
    }
        #calcScreen2 {
            width:80%;
            height:13.15vw;
            border-radius: .8vw;
            margin-top: 5.5vw;
            margin-left: 19.3vw;
            padding-top: 2vw;
            padding-bottom: 2vw;
            font-size: 7vw;

    }
        #calcScreen3 {
            width:80%;
            height:13.15vw;
            border-radius: .8vw;
            margin-top: 18.85vw;
            margin-left: 19.3vw;
            padding-top: 3vw;
            padding-bottom: 3vw;
            font-size: 7vw;

    }
        .buttonGrid {
            margin-top:6.5vw;
            margin-left: 38%;
            width: 86vw;


    }
        .spacer {
            margin-right: 3.4vw;
    }
        .button {
            width: 8vw;
            height: 8vw;
    }

        #equals {
            margin-top:5.65vw;
            margin-left:63.5%;
    }
    
    
    
   /* hershey static page and animation illumination page adjustments */ 
    
        #picFrame_plain_M {
            width:80%;
            margin-left: 10%;
            margin-right: 10%;
            display: block;
    }
    
        #picFrame_4double {
            display: none;
    }

    
        .hersheyHead, .AIHead_M, .AIHead_MM {
            clear: both;
            font-size:7vw;
            font-family: mrs-eaves, serif;
            font-weight: 700;
            font-style: italic;
            color:#726a79;
            margin-bottom: 2vw;
            margin-left:1.4vw;
    }
    
        .cellSize {
            display: block;
            width: 80%;
            margin-bottom: -10vw;
    }
    
         .cellSize_SOO {
            display: block;
            width: 80%;
            margin-bottom: 11vw;
    }
    
        .cellSize img {
            margin-bottom: 11vw;
    }
    
         #info_button_M {
            width:45%;
            height: 9vw;
            background-color:#aeaeae;
            color: #787979;
            font-size: 4.5vw;
            margin-bottom: 8vw;
            padding:1.5vw 3vw;
            float:left;
            display:block;
    }
        #infoClose_M {
            width: 3vw;
            float:right;
            margin-top: 1.75vw;
            display:none;
    }
        #info_modal_godZ_M {
            background-color:#aeaeae;
            position: absolute;
            z-index:9999;
            margin-top: 9vw;
            display:none;
    }
        #infoContainer_godZ_M {
            margin-top:4vw;
            margin-left: 5vw;
            margin-right: 5vw;
            font-size: 5vw;
            margin-bottom: 2vw;
            width:65vw;
            text-align: left;
            color:#787979;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        #linkFooterContainer {
            margin: 7vw 30%;
            padding-top: 2vw;
            padding-bottom: 2vw;
    }
        .footerIcons img {
            width:100%;
    }
        .LI_footer {
            width:7vw;
            margin:5.5vw 1vw;
    }
        .GH_footer {
            width:9vw;
            margin:4vw 1vw;

    }
        #footer_words {
            font-size: 4vw;
            padding-bottom: 5vw;
            color:#888;
    }


}
